@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
@*     <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>

 *@

    <li class="nav-item">
        <div class="navigation-display">Hello @User.Identity?.Name!</div>
    </li>

 @*  TOD: D_
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li> *@
    <div class="nav-item">
        <form asp-controller="Home" asp-action="Logout" method="post">
            <button type="submit" class="nav-link">Logout</button>
        </form>
    </div>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="CustomerRegister">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
    </li>
}
</ul>
