@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    p.indent{
        text-indent: 25px;
    }
</style>

<div class="row">
    <div class="col-6" style="align-content">
        <h1>Hi! I’m Aurora Brickwell, and welcome to Brickwell Legos!</h1>
    </div>
    <div class="col-6">
        <img src="~/img/waving_woman.jpg" />
    </div>
</div>

<div>
    <h3>Meet the Master Builder herself!</h3>
    <div class="row">
        <p class="col-8">
            Welcome to the community! I am absolutely thrilled you are here at Brickwell Legos, the best place for Lego enthusiasts to hangout. My fascination with Legos began long ago, when I was gifted a simple set from my parents. There was something captivating about the boundless creativity offered by these simple bricks, with the only limit to my creations being my own imagination (and occasionally a lack of proper pieces). My love and passion for creativity only grew with time. Legos are so much more than a simple toy for children; it’s a canvas for narratives waiting to be brought to life. Driven by this passion, I envisioned a space for Lego enthusiasts such as myself to celebrate our mutual love of creation. Thus, Brickwell Legos was born, first as a blog and now as an online store.
        </p>
        <img src="~/img/tallneck_lego.jpg" class="col-4" style="height: 100px; width: auto" />
    </div>
    <br />
    <p>
        Brickwell Legos is a place where rare sets, custom designs, and above all, the joy of building are shared. However, Brickwell Legos is not just about selling Lego sets; it’s also a thriving community. Brickwell Legos is about bringing people together, sharing our masterpieces, and inspiring one another one brick at a time. Every piece and every set tells a story, and I’m here to assist you in building yours. Once again I welcome you to our community. Happy building!
    </p>
    <img src="~/img/lotr_lego.jpg" style="height: 350px; width: auto"/>
</div>