
@model List<Product>


<div class="bg-tan">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>Welcome to the Brickwell store!</h1>
                <p>Your ultimate destination for all things LEGO!</p>
                <a asp-area="" asp-controller="Home" asp-action="Products" class="btn btn-outline-primary btn-sm float-end">Explore Now</a>
            </div>
            <div class="col"></div>
            <div class="col-5 center">
                <img src="/img/home.jpg" class="home-img" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h1>Featured Products</h1>
        <div class="container horizontal-scroll">
            <div class="row">
                @foreach (var prod in Model)
                {
                    <div class="card scroll-card pe-0">
                        <div class="card-body product-card pe-0">
                            <a class="custom-product-name" asp-controller="Home" asp-action="ProductDetails" asp-route-product_ID="@prod.product_ID">
                                <img src="@prod.img_link" alt="@prod.name" class="img-fluid product-image">
                                <h2 class="product-title custom-product-name">@prod.name</h2>
                            </a>
                            <p class="product-price">$@prod.price</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>







