
@model ProductsListViewModel


<div class="bg-tan">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1>Welcome to the Brickwell store!</h1>
                <p>Your ultimate destination for all things LEGO!</p>
                <a asp-area="" asp-controller="Home" asp-action="Products" class="btn btn-outline-primary btn-sm float-end">Explore Now</a>
            </div>
            <div class="col"></div>
            <div class="col-5 center">
                <img src="/img/home.jpg" class="home-img">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h1>Featured Products</h1>
        <div class="col container container-fluid">
            <div class="row">
                @foreach (var prod in ViewBag.TopProducts)
                {
                    <partial name="ProductSummary" model="prod"/>
                }
            </div>
        </div>
    </div>
</div>









