﻿@{
    ViewData["Title"] = "Products Page";
}

@model ProductsListViewModel

<h1>Title</h1>


@foreach (Product p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div 
    page-model="@Model.PaginationInfo" page-action="Products" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-projectType="@Model.Products" class="btn-group pull-right m-1">
 </div>
