/* Custom CSS for the header and other elements */

/* General styling */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        position: relative;
        min-height: 100%;
    }
}

body {
    margin-bottom: 60px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


/* Navbar styling */
.navbar {
    background-color: #95B8D1;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
    color: #333333;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #333333;
    font-weight: 500;
}

    .nav-link:hover {
        color: #666A86;
    }

/* Cart summary styling */
.navbar-text {
    color: #333333;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

/* Additional custom styling for specific elements */
.nav-square {
    min-width: 164px;
    min-height: 164px;
    background-color: lightslategrey;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin: 0 auto;
}

.nav-square-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.bg-soft-purple {
    background-color: #5654bf;
}

.btn-pill {
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.custom-card-header {
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.custom-product-name {
    color: #0f1111 !important;
    font-size: 13px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    transition: color 0.3s ease;
}

    .custom-product-name:hover {
        color: #c07706 !important;
    }

.product-image {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: contain;
}


/* Grid system */
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Change to space-between to move elements to the left and right edges */
}
