@page
@using LegoMastersPlus.Models
@using LegoMastersPlus.Pages
@model LegoMastersPlus.Pages.OrderConfirmation

@{
    Layout = null;
}

@* @if (Order.fraud == false) *@
@* { *@
@*     <div>Your Order has been submitted!</div> *@
@* } *@
@* else *@
@* { *@
@*     <div>Your Order is being processed and under review!</div> *@
@* } *@