@page
@using LegoMastersPlus.Models
@using LegoMastersPlus.Pages
@model LegoMastersPlus.Pages.OrderConfirmation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div class="container pt-5">
    <div class="justify-content-center align-items-center text-center h-100">
        @if (Model.IsFraudulent == true)
        {
            <h1 class="color-darkblue">Your order is currently under review</h1>
            <img src="~/img/legos_being_built.jpg" width="500"/>
        }
        @if (Model.IsFraudulent == false)
        {
            <h1 class="color-darkblue">Your order has been placed, thank you!</h1>
            <img src="~/img/lego-delivery.jpg" width="500" />    
        }
    </div>
</div>