@page
@using LegoMastersPlus.Models
@using LegoMastersPlus.Pages
@model LegoMastersPlus.Pages.OrderConfirmation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

@if (Model.IsFraudulent == true)
{
    <div>Your order is currently under review</div>
}
@if (Model.IsFraudulent == false)
{
    <div>Your order has been placed, thank you!</div>
}
